body {
  margin: 0;
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono", monospace;
}

h1 {
  font-size: 4rem;
  color: #00ff41; /* Matrix Green */
  margin: 0;
}
